In [6]:
# Import Dependencies
import pandas as pd

In [7]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/ted_talks.csv"
ted_df = pd.read_csv(csv_path)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [8]:
# Figure out the minimum and maximum views for a TED Talk
print(ted_df["views"].max())
print(ted_df["views"].min())

47227110
50443

In [9]:
# Create bins in which to place values based upon TED Talk views
bins = [50000, 1000000, 10000000, 100000000]

# Create labels for these bins
group_labels = ["Silver", "Gold", "Platinum"]

In [28]:
# Slice the data and place it into bins
pd.cut(ted_df["views"], bins, labels=group_labels, include_lowest=True)

0       Platinum
1           Gold
2           Gold
3           Gold
4       Platinum
          ...
2545      Silver
2546      Silver
2547      Silver
2548      Silver
2549      Silver
Name: views, Length: 2550, dtype: category
Categories (3, object): ['Silver' < 'Gold' < 'Platinum']

In [32]:
# Place the data series into a new column inside of the DataFrame
ted_df["Category"] = pd.cut(ted_df["views"], bins, labels=group_labels, include_lowest=True)
ted_df

,comments,description,duration,event,languages,main_speaker,name,title,views,Category
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,Platinum
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,Gold
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,Gold
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,Gold
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,Platinum
...,...,...,...,...,...,...,...,...,...,...
2545,17,"Between 2008 and 2016, the United States depor...",476,TED2017,4,Duarte Geraldino,Duarte Geraldino: What we're missing in the de...,What we're missing in the debate about immigra...,450430,Silver
2546,6,How can you study Mars without a spaceship? He...,290,TED2017,3,Armando Azua-Bustos,Armando Azua-Bustos: The most Martian place on...,The most Martian place on Earth,417470,Silver
2547,10,Science fiction visions of the future show us ...,651,TED2017,1,Radhika Nagpal,Radhika Nagpal: What intelligent machines can ...,What intelligent machines can learn from a sch...,375647,Silver
2548,32,In an unmissable talk about race and politics ...,1100,TEDxMileHigh,1,Theo E.J. Wilson,Theo E.J. Wilson: A black man goes undercover ...,A black man goes undercover in the alt-right,419309,Silver
2549,8,With more than half of the world population li...,519,TED2017,1,Karoliina Korppoo,Karoliina Korppoo: How a video game might help...,How a video game might help us build better ci...,391721,Silver

In [40]:
# Create a GroupBy object based upon "View Group"
ted_group = ted_df.groupby("Category")

# Find how many rows fall into each bin
ted_count = ted_group.count()
print(ted_count)
# Get the average of each column within the GroupBy object
ted_group_AV = ted_group[["comments", "duration", "languages"]].mean()
print(ted_group_AV)

          comments  description  duration  event  languages  main_speaker  \
Category
Silver        1047         1047      1047   1047       1047          1047
Gold          1469         1469      1469   1469       1469          1469
Platinum        34           34        34     34         34            34

          name  title  views
Category
Silver    1047   1047   1047
Gold      1469   1469   1469
Platinum    34     34     34
            comments    duration  languages
Category
Silver    110.474690  831.029608  23.142311
Gold      230.716814  820.123894  29.934649
Platinum  996.882353  963.264706  43.470588